/* CSS */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.table-container {
  height: calc(100vh - 20px); /* Adjust for any additional margin or padding */
  overflow-x: auto;
  position: relative;
}

.ReactTable .rt-thead.-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.ReactTable .rt-th {
  position: sticky;
  z-index: 1;
  background-color: #fff;
}
